<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
</head>
<body>
<section class="content-header">
    <h1>管理员管理</h1>
    <small>列表管理</small>
</section>
<section class="content table-content">
    <div class="box-body ">
      <div class="form-group col-md-6 col-md-offset-3">
        <div class="col-sm-5">
            <input type="text"  name="username" class="form-control" id="username"  placeholder="请输入用户名" />
        </div>
        <div class=" col-sm-2">
            <button type="button" id="search"  class="btn btn-default js-ajax-submit">搜索</button>
        </div>
     </div>
    </div>
    <table id="dataGrid"></table>
</section>
<div id="toolbar">
    <a th:href="@{/api/admin/from}" class="btn btn-primary">添加用户</a>
</div>
<div th:include="footer"></div>
</body>
<script type="text/javascript" th:inline="javascript">
    var basePath = [[${#httpServletRequest.getScheme() + "s://" + #httpServletRequest.getServerName() + #httpServletRequest.getContextPath()}]];
    $table = $("#dataGrid");
    $(function () {
        initDataGrid();
    });
    function initDataGrid(){
        $table.bootstrapTable({
            height : tableModel.getHeight(),
            idField : "uid",
            columns : [
                {title: "序号", field: "number" ,formatter: function (value, row, index) {
                    return index+1;
                }},
                {title: "用户名", field: "username" },
                {title: "角色", field: "sysRoleList", formatter : getRole},
                {title: "状态", field: "state",formatter : tableModel.getState},
                {title: "创建时间", field: "createdAt" ,formatter : getStringDateformat},
                {title: "更新日期", field: "updatedAt" ,formatter : getStringDateformat},
                {title: "操作", field: "operate", align: 'center', events: operateEvents, formatter: operateFormatter}
            ],
            url : basePath+'/api/admin/list',
            queryParams: function(params){
                params['username']=$("#username").val();
                return params;
            },
            responseHandler : function (res) {
                return {
                    rows : res.result.pageInfo.content,
                    total : res.result.pageInfo.totalElements
                }
            },
            search : false,
            searchOnEnterKey : true,
            sortName : 'createdAt',
            sortOrder : 'asc',
            pagination : true,
            sidePagination : 'server',
            pageSize: 20,
            pageList : [20, 40, 50, 100],
            toolbar : "#toolbar",
            showRefresh : true,
            showToggle : true
        });
    }

     $("#search").click(function (){
         $('#dataGrid').bootstrapTable('refresh',null);
     });
    function getRole(value,row,index) {
        if(row.isSystem == 1){
            return "超级管理（不受角色限制）"
        }else{
            return $.map(value,function (v) {
                return v.sysRole.roleName;
            }).join(",");
        }

    }
    function getStringDateformat(value, row, index){
        if(null != value){
            return value.substring(0,19);
        }else{
            return "--";
        }
    }
    function operateFormatter(value, row, index) {
      //  if(row.isSystem == 0){
            return [
                '<a href="'+basePath+'/api/admin/from?uid='+row.uid+'" >',
                '<i class="glyphicon glyphicon-edit"></i>修改',
                '</a>  ',
                '<a class="remove" href="javascript:void(0);">',
                '<i class="glyphicon glyphicon-remove"></i>删除',
                '</a>'
            ].join('');
        //}
    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            operaModel.delRow(row.uid, basePath+'/api/admin/delete', 'uid');
        }
    };
</script>
</html>