<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
</head>
<body>
<section class="content-header">
    <h1>专家管理</h1>
    <small>专家列表</small>
</section>
<section class="content table-content">
    <div class="box-body ">
        <div class="form-group col-md-8 col-md-offset-4">
            <div class="col-sm-3">
                <input type="text"  name="name" id="name"  class="form-control"  placeholder="请输入专家姓名"/>
            </div>
            <div class="col-sm-2">
                <button type="button" id="search"  class="btn btn-default js-ajax-submit">搜索</button>
            </div>
        </div>
    </div>
    <div id="toolbar">
        <a th:href="@{/api/specialist/from}" class="btn btn-primary" >添加专家</a>
    </div>
    <table id="specialistGrid"></table>
</section>
<div th:include="footer"></div>


<script type="text/javascript" th:inline="javascript">
    var basePath = [[${#httpServletRequest.getScheme() + "s://" + #httpServletRequest.getServerName() + #httpServletRequest.getContextPath()}]];
    $table = $("#specialistGrid");
    $(function () {
        initDataGrid();
    });
    function initDataGrid(){
        $table.bootstrapTable({
            height : tableModel.getHeight(),
            idField : "id",
            columns : [
                {
                    title: "序号",
                    field: "name",
                    align:"center",
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },
                {
                    title: "姓名",
                    field: "name",
                    align:"center"
                },
                {
                    title: "职称",
                    field: "title",
                    align:"center"
                },
                {
                    title: "所属医疗机构",
                    field: "hospital",
                    align:"center"
                },
                {
                    title: "专家介绍",
                    field: "introduce",
                    align:"center",
                    width:400
                },
                {
                    title: "头像",
                    field: "photo",
                    align:"center",
                    formatter:function(value,row,index){
                        return "<img src="+row.photo+" width='100px' height='100px'/>";
                    }
                },
                //{title: "类型", field: "type",formatter : tableModel.getTagType},
                {
                    title: "创建时间",
                    field: "createTime",
                    align:"center"
                },
                {
                    title: "更新时间",
                    field: "updateTime",
                    align:"center"
                },
                {
                    title: "操作",
                    field: "operate",
                    align: 'center',
                    events: operateEvents,
                    align:"center",
                    formatter: operateFormatter
                }
            ],
            url : basePath+'/api/specialist/list',
            queryParams: function(params){
                params['name']=$("#name").val();
                return params;
            },
            responseHandler : function (res) {
                console.log(res.result.pageInfo.totalElements)
                return {
                    rows :  res.result.pageInfo.content,
                    total : res.result.pageInfo.totalElements

                }
            },
            search : false,
            searchOnEnterKey : true,
            sortName : 'createTime',
            sortOrder : 'asc',
            pagination : true,
            sidePagination : 'server',
            pageSize: 20,
            pageList : [20, 40, 50, 100],
            showRefresh : true,
            showToggle : true
        });
    }

    function operateFormatter(value, row, index) {
        return [
            '<a href="'+basePath+'/api/specialist/from?id='+row.id+'" >',
             '<i class="glyphicon glyphicon-edit"></i>修改',
             '</a>  ',
            '<a class="remove" href="javascript:void(0);">',
            '<i class="glyphicon glyphicon-remove"></i>删除',
            '</a>'
        ].join('');
    }

    $("#search").click(function (){
        $('#specialistGrid').bootstrapTable('refresh',null);
    });

    window.operateEvents = {
        'click .remove' : function (e, value, row, index) {
            operaModel.delRow(row.id, basePath+'/api/specialist/delete', 'id');
        }
    };
</script>
</body>

</html>